.weatherDataCont{
    background: rgba(200,200,200,0.5);
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
}
.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}
.temperature{
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: gray;
}
.temperatureType{
    font-weight: bold;
    color: darkgray;
}
.wicon{
    color: orange;
}
.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}
.extraInfoText{
    display: block;
    color: blue;
    font-size: 18px;
    font-weight: bold;
}
.locationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    color: darkseagreen;
    line-height: 35px;
}
.locationCont h1{
    margin: 0;
}
.weatherLocationCont{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    min-width: 430px;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 10px 8px 38px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 8px 38px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 8px 38px -5px rgba(0,0,0,0.75);
    cursor: pointer;
}

.locationList{
    height: 85vh;
    overflow: auto;
}

@media (max-width: 64em) {
    .locationList{
        max-height: 45vh;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}